<turbo-frame id="new_message" target="_top">
    <form action="/messages/" method="POST" style="margin-top: 40px">
        <input name="content" type="text" />
        <button type="submit">Create New Message</button>
    </form>
</turbo-frame>