<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express-hotwire Example Project</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://www.unpkg.com/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.js" defer></script>
</head>
<body>