<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express-hotwire Example Project</title>
    <link rel="stylesheet" href="styles.css">

    <!-- TODO: Add @hotwire/turbo from node_modules instead-->
    <script src="https://unpkg.com/@hotwired/turbo@7.0.0-beta.1/dist/turbo.es5-umd.js" defer></script>
</head>
<body>